<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name ="ConnectionString" connectionString ="Data Source=DESKTOP-CGB025P;Initial Catalog=DemoDB;user id=sa;password=vision; Integrated Security = true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>